/*
 * Lazy Slider v0.1
 * https://github.com/beatnbite/lazyslider
 *
 * Copyright 2014, Vyacheslav Petrov
 *
 * Free for non-commercial use.
 * A license fee is required for commercial use.
 * Please refer to LICENSE file for details.
 */

.lazyslider .slides
{
    display: none;
}

.lazyslider-panes
{
    overflow: hidden;
    position: relative;
    float: left;
    -webkit-box-shadow: 0px 1px 5px 0px #aaa;
    -moz-box-shadow: 0px 1px 5px 0px #aaa;
    box-shadow: 0px 1px 5px 0px #aaa;
}

.lazyslider:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.lazyslider-pane img,
.lazyslider-pane a
{
    display: block;
}

.lazyslider-second-pane
{
    position: absolute;
    left: 0;
    top: 0;
}

.lazyslider-caption
{
    position: absolute;
    left: 0;
    bottom: -5em;
    width: 100%;
    line-height: 1;
}

.lazyslider-background,
.lazyslider-description
{
    height: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em 1em;
}

.lazyslider-background
{
    z-index: 10;
    width: 100%;
    background-color: white;
    opacity: 0.95;
}

.lazyslider-description
{
    z-index: 20;
    color: black;
}